<div class="row" style="line-height: 100px">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/item?id=<%= item.id %>" target="_blank"><%= item.title %></a></h3>
      </div>
      <div class="panel-body" style="line-height: 40px">
        景区：<%= item.area %> &nbsp;&nbsp;&nbsp;&nbsp; 距离：<%= item.distance %><br/>
        联系人：<%= item.name %> &nbsp;&nbsp;&nbsp;&nbsp; 电话：<%= item.telephone %> <br/>
        <%= item.content %>
        <a href="tel:15120058985">15210350857</a>
      </div>
    </div>

  </div>

</div>