<div class="row" style="line-height: 100px">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/item?id=<%= item.id %>" target="_blank"><%= item.title %></a></h3>
      </div>
      <div class="panel-body" style="line-height: 40px">
        电话：<a href="tel:<%= item.telephone %>"><%= item.telephone %></a><br/>
        景区：<%= item.area %> &nbsp;&nbsp;&nbsp;&nbsp; 地址：<%= item.address %> <br/>
        设施：<%= item.facility %> &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>

  </div>

</div>