<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <style>
    .search{
      font-size: 22px
    }
  </style>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron" style="line-height: 38px">
    <h2><%= item.title %></h2>
    <span class="label label-primary">电话</span>：<a href="tel:<%= item.telephone %>"><%= item.telephone %></a><br/>
    <span class="label label-primary">景区</span>：<%= item.area %> &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="label label-primary">地址</span>：<%= item.address %> <br/>
    <span class="label label-primary">设施</span>：<%= item.facility %> &nbsp;&nbsp;&nbsp;&nbsp;<br/>
    <blockquote>
      <p ><%= item.content %></p>
    </blockquote>
  </div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function(){
  });
</script>
</html>
