<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <style>
    .search{
      font-size: 22px
    }
  </style>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron">
    <h2><%= item.title %></h2>
    电话：<a href="tel:<%= item.telephone %>"><%= item.telephone %></a><br/>
    景区：<%= item.area %> &nbsp;&nbsp;&nbsp;&nbsp; 地址：<%= item.address %> <br/>
    设施：<%= item.facility %> &nbsp;&nbsp;&nbsp;&nbsp;<br/>
    <p><%= item.content %></p>

  </div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function(){
  });
</script>
</html>
